.places {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    list-style: none;
    max-width: 984px;
    padding: 92px 0 0;
}

@media screen and (max-width: 1279px) {
    .places {
        margin: 0;
        max-width: calc(100% - 48px*2);
    }

}

@media screen and (max-width: 1023px) {
    .places {
        max-width: calc(100% - 24px*2);
        padding-left: 24px;
    }

}

@media screen and (max-width: 540px) {
    .places {
        max-width: 100%;
        padding: 64px 0 0;
    }

}