.places {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 100px*2);
    margin: 0 auto;
    padding-top: 92px;
}

.places .place {
    margin-bottom: 80px;
}

.places .place:last-child {
    margin-bottom: 92px;
}