.lead__title {
    font-weight: 900;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width: 1280px) {
    .lead__title {
        max-width: calc(100% - 132px*2);
        padding-top: 56px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (max-width: 1279px) {
    .lead__title {
        max-width: calc(100% - 104px*2);
        padding-top: 56px;
        font-size: 96px;
        line-height: 100px;
    }

}

@media screen and (max-width: 1023px) {
    .lead__title {
        max-width: calc(100% - 24px*2);
        padding-top: 56px;
        font-size: 96px;
        line-height: 100px;
    }

}

@media screen and (max-width: 767px) {
    .lead__title {
        max-width: calc(100% - 24px*2);
        padding-top: 56px;
        font-size: 96px;
        line-height: 100px;
    }

}

@media screen and (max-width: 740px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: calc(100% - 16px*2);
        padding-top: 48px;
    }

}