.intro {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: calc(100% - 590px);
    margin: 0;
}

@media screen and (max-width: 1279px) {
    .intro {
        max-width: calc(100% - 238px);
        margin: 0;
    }

}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: calc(100% - 48px);
        margin: 0;
    }

}

@media screen and (max-width: 540px) {
    .intro {
        max-width: calc(100% - 16px*2);
        margin: 0;
        padding-left: 16px;
    }

}