.cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    padding: 245px 0;
    z-index: 0;
    overflow: hidden;
    max-width: calc(100% - 48px*2);
    margin: 0 auto;
}

.cover::before {
    content: "";
    background-color: #2A2C2F;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    transition: opacity 200ms ease-in-out;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover {
        padding: 195px 0;
        max-width: 100%;
    }

}

@media screen and (max-width: 1023px) {
    .cover {
        padding: 115px 0;
    }
}

@media screen and (max-width: 540px) {
    .cover {
        padding: 33px 0;
    }
}