.place {
    display: grid;
    grid-template-columns: minmax(1fr, max-content)  minmax(min-content, max-content);
    grid-gap: 48px 40px;
    grid-template-areas:
    "title web-site"
    "image text";
}